:root{
    --Primary : #bf4000;
    --Secondry : #f5911c;
    --Black : #0000;
    --White : #ffffff;
    --Red : #CC2000;
    --Crimson : #FF2800;
    --Charcoal : #292929;
    --InputBg : rgb(229,231,235);
    --NavbarBG : rgba(0,0,0,0);
}
body{
    background-color: #EDEDED !important;
}
.work{
    width: 100%;
    background-color: var(--Charcoal) ;
    position: absolute;
    top: 0px;
    height: 50vh;
    color: white;
}
.gallery-header{
    background-color: white;
    width: 84%;
    margin: 40vh auto 20px auto;
    padding: unset;
    border-radius: 10px;
}
.gallery-header h4{
    text-align: center;
    padding: 2rem;
    position: relative;
}
.gallery-header h4::after{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 3px;
    background-color: red;
    content: "";
}

.projects-container a{
    flex-basis: 33% !important;
}
.all-projects{
    padding: 0px 8%;
}

@media screen and (max-width : 900px) {
    .services .services-div .box p {
        font-size: unset;
    }
    .projects-container a{
        flex-basis: 100% !important;
    }
}
/*Gallery content
.gallery-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery-content a{
    text-decoration: none;
    border-radius: 10px;
    flex-basis: 33%;
}
.gallery-content a img{
    width: 100%;
}
.gallery-content a h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}*/