:root{
    --Primary : #bf4000;
    --Secondry : #f5911c;
    --Black : #0000;
    --White : #ffffff;
    --Red : #CC2000;
    --Crimson : #FF2800;
    --Charcoal : #292929;
    --InputBg : rgb(229,231,235);
    --NavbarBG : rgba(0,0,0,0);
}
body{
    background-color: #EDEDED !important;
}
.work{
    width: 100%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0,0.8), rgba(0, 0, 0,.5)), url("../Resources/Mad Monkey/WorkBg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    height: 70vh;
    color: white;
    text-align: center;
}
.gallery-header{
    background-color: white;
    width: 84%;
    margin: 60vh auto 20px auto;
    padding: unset;
    border-radius: 10px;
}
.header{
    position: absolute;
    top: 0px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0,.5), rgba(0, 0, 0,.5)), url("../Resources/Mad Monkey/projectsBg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    height: 70vh;
    align-items: center;
    display: table;
    width: 100%;
}
.header h4{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    position: relative;
}
.header h4::after{
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 6%;
    background-color: var(--Crimson);
}

.projects-container a{
    flex-basis: 33% !important;
}
.all-projects{
    padding: 0px 8%;
}

@media screen and (max-width : 900px) {
    .services .services-div .box p {
        font-size: unset;
    }
    .projects-container a{
        flex-basis: 100% !important;
    }
}
/*Gallery content
.gallery-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery-content a{
    text-decoration: none;
    border-radius: 10px;
    flex-basis: 33%;
}
.gallery-content a img{
    width: 100%;
}
.gallery-content a h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}*/