body{
    background-color: #EDEDED !important;
}
.all-services-container{
    margin-top: 100px;
}

.all-services-container h4:first-child{
    background-color: white;
    text-align: center;
    padding: 20px;
    display: block;
    width: 98%;
    margin: 0px auto;
    position: relative;
    border-radius: 10px;

}
.all-services-container h4::after{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 3px;
    background-color: red;
    content: "";
}
.all-services-container .service-box-container{
    width: 98%; 
    margin: 20px auto;  
}