:root{
    --Primary : #bf4000;
    --Secondry : #f5911c;
    --Black : #0000;
    --White : #ffffff;
    --Red : #CC2000;
    --Crimson : #FF2800;
    --Charcoal : #292929;
    --InputBg : rgb(229,231,235);
}
body{
    background-color: #EDEDED !important;
}
.header{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0,.5), rgba(0, 0, 0,.5)), url(../images/benches.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    height: 50vh;
    align-items: center;
    display: table;
    width: 100%;
}
.header h4{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

@media screen and (max-width : 800px) {
    .header{
        height: 50vh;
    }
    
}
.all-services-container{

}

.all-services-container h4:first-child{
    background-color: white;
    text-align: center;
    padding: 20px;
    display: block;
    width: 98%;
    margin: 0px auto;
    position: relative;
    border-radius: 10px;

}
.all-services-container h4::after{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    width: 5%;
    height: 3px;
    background-color: red;
    content: "";
}
.all-services-container .service-box-container .row-1{
    width: 98%; 
    margin: 20px auto;  
    display: flex;
    justify-content: space-between;
}
.all-services-container .service-box-container div .service-card{
    flex-basis: 33%;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    color: black;
    display: flex;
}
.service-card .icon{
    flex-basis: 26%;
}
.service-card .textarea{
    flex-basis: 74%;
}
.service-card .icon, .service-card .textarea{
    padding: 5px;
}
.service-card .icon, .service-card .textarea h5{
    font-size:16px ;
    color: var(--Charcoal);
}
.service-card .icon, .service-card .textarea p{
    font-size: 10px;
    color: var(--Charcoal);
}
.service-card .icon i{
    font-size: 72px;
    color: var(--Crimson);
}
.image-in-service-box{
    background-color: var(--Charcoal) !important;
    background-image: url('../Resources/Mad Monkey/2\ White\ LOGO\ 5000x5000.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    background-position: center;
    min-height: 135px;
}

.service-card img{
    width: 100%;
}

@media screen and (max-width : 1000px) {
    section{
        padding: 4rem 0px;
    }
}
@media screen and (max-width : 800px) {
    .all-services-container .service-box-container .row-1{
        flex-direction: column;
        row-gap: 10px;
    }
    
}