*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}
:root{
    --Primary : #bf4000;
    --Secondry : #f5911c;
    --Black : #0000;
    --White : #ffffff;
    --Red : #CC2000;
    --Crimson : #FF2800;
    --Charcoal : #292929;
    --InputBg : rgb(229,231,235);
    --NavbarBG : rgba(0,0,0,0);
}
.scrolltop-btn{
    cursor: pointer;
    position: fixed;
    top: 93%;
    right: 1%;
    opacity: 0.5;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}
.scrolltop-btn i{
    font-size: 1.5rem;
    padding: 8px;
    background-color: var(--Crimson);
    color: white;
}

p{
    font-weight: 300;
}
a{
    cursor: pointer;
}
#top{
    transition: all 0.3s ease-in-out;
    position: sticky;
    background-color: var(--NavbarBG);
    width: 100%;
    left: 0px;
    z-index: 1;
    top: 0px;
    color: black;
}
header div{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    position: relative;
}
.menu-btn{
    display: none;
}
.menu-btn i{
    font-size: 32px;
    cursor: pointer;
    color: white;
}
.navigation{
    display: flex;
}

.navigation a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.navigation a:hover{
    color: white;
}
.navigation a::after{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0px;
    background-color: var(--Crimson);
    content: "";
    transition: width 0.3s;
}
.navigation a:hover::after{
    width: 50%; 
}

.logo{
    position: absolute;
    display: block;
    left: 50%;
    top: 17px;
    z-index: 1;
    width: 110px;
    transform: translateX(-42%);
   /* filter: invert();*/
}
.logo-shape{
    left: 50%;
    height: 15px;
    overflow: hidden;
    position: absolute;
    transform: translateX(-53%);
    width: 150px;
}
.logo-shape::after{
    background: var(--NavbarBG);
    border-radius: 50%;
    bottom: 0;
    content: ' ';
    height: 150px;
    position: absolute;
    width: 150px;
}
.logo img{
    width: 100%;
}
.start-project-btn{
    padding: 10px;
    background-color: var(--Red);
    text-decoration: none;
    color: var(--White);
    padding: 10px 40px;
    transition: 0.3s;
    border-radius: 4px;
    border: none;
}
.start-project-btn:hover{
    background-color: var(--Crimson);
    color: white;
}
@media screen and (max-width : 900px) {
    .menu-btn{
        display: block;
    }
    .start-project{
        display: none;
    }
    .navigation{
        visibility: hidden;
        opacity: 0;
        width: 100%;
        align-items: unset;
        position: absolute;
        top: 125px;
        left: 0px;
        background-color: white;
        flex-direction: column;
        transition: opacity 0.5s;
    }
    .navigation a{
        color: black !important;
        border-bottom: 1px solid grey;
    }
    .logo{
        position: relative;
        left: unset;
        top: unset;
        z-index: unset;
        transform: translateX(0);
    }
    .logo-shape{
        display: none;
    }
    .navigation a::after{
        display: none;
    }
    
}

#HomeID{
    margin-top: -138px;
    overflow: hidden;
}
#HomeID .caro-textArea{
    position: absolute;
    width: 75%;
    top: 45%;
    left: 50%;
    z-index: 1;
    color: white;
    transform: translate(-50%,-30%);
}
#HomeID .caro-textArea p{
    margin: 20px 20px;
    font-style: italic;
    position: relative;
}
#HomeID .caro-textArea p::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0px;
    left: -15px;
    background-color: var(--Crimson);
    border-radius: 5px;
}
#HomeID .caro-textArea h1{
    font-weight: 600;
}

#HomeID .carousel-inner {
    width: 100% !important; 
}
#HomeID .carousel-inner .carousel-item img{
    height: calc(100vh + 20px);
    object-fit: cover;
}
.caro-end{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin: 0px auto;
    height: 100%;
    background-image: linear-gradient(359deg, black, transparent);
}

@media screen and (max-width : 900px) {

    #HomeID{
        height: unset;
    }
    #HomeID .carousel-inner .carousel-item img{
        height: calc(90vh + 70px);
        object-fit: cover;
    }
    .caro-end{

    }
}
section{
        padding: 4rem 8%;
}

/*REEL*/

.reel{
    position: relative;
    padding: 0px 8% 40px 8%;
    display: flex;
    align-items: center;
}
.reel .box {
    margin: 20px auto;
    flex-basis: 50%;
}
.reel .box .start-project-btn{
    display: block;
    width: max-content;
}
.reel .box h1{
    font-size: 2rem;
    margin: 10px auto;
}
.reel .box p{
    font-size: 1rem;
    margin: 10px auto;
}
.special-para{
    font-size: 16px !important;
    color: grey;
    padding: 20px;
    position: relative;
    margin: 10px auto;
}
.special-para::before{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--Crimson);
}
.reel .box h1 span{
    display: block;
    color: var(--Red);
}
.reel .box iframe{
    width: 100%;
    min-height: 300px;
}

@media screen and (max-width : 900px) {
    .reel{
        flex-direction: column;
        padding: 0px 4% 40px 4%;
    }
    .reel .box iframe{
        min-height: 200px;
    }
}
/*SERVICES*/
#service{
    display: flex;
    padding: 0px 0px 0px 8%;
}
.services-image{
    flex-basis: 35%;
    background-image: url('../Resources/Mad Monkey/ServicesBG.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.services{
    padding: 2rem 8%;
    background-color: var(--Charcoal);
}
.services div h3{
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
}
.services .services-div{
    margin: 0px auto;
    color: white;
    line-height: 34px;
}
.see-more{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid var(--Crimson);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}
.see-more:hover{
    background-color: var(--Crimson);
    color: white;
}
.services .services-div{
    flex-basis: 65%;
    padding: 20px 20px 20px 0px;
}
.services .services-div .box h1{
    margin: 10px auto;
}
.services .services-div .box p{
    font-size: 18px;
}
.services .services-div .box .special-para{
    color: white;
}
.services .service-box-container .service-box{
    width: 70%;
    margin: 20px auto;
}
.services .service-box-container .service-box .Sbox{
    text-decoration: none;
    display: block;
    color: white;
    flex-basis: 48%;
    position: relative;
}
.services .service-box-container .service-box .Sbox img{
    width: 100%;
}
.services .service-box-container .service-box .Sbox h3{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.3s;
}
.services .service-box-container .service-box .Sbox:hover > h3{
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width : 900px) {
    .services{
        padding: 3rem 4%;
    }
    .services .service-box-container .service-box{
        flex-direction: column;
        row-gap: 10px;
        width: 100%;
    }
    .services .services-div{
        flex-basis: unset;
        padding: 20px 0px 20px 0px;
    }
    .services-image{
        display: none;
    }
    #service{
        padding: 10px;
    }
}

/*CLIENTS*/
.clients{
    padding: 3rem 8%;
}
.clients .textArea h3, .clients .textArea p{
    margin: 10px auto;
    color: black;
}
.clients .client-img-container{
    text-align: center;
    overflow: hidden;
}
.clients .client-img-container div{
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 40px 0px;
}
.clients .client-img-container div img{
    cursor: pointer;
    filter: grayscale(1);
    width: 15%;
    min-width: 125px;
    transition: 0.3s;
}
.clients .client-img-container div img:hover{
    filter: grayscale(0);
}
.clients .textArea h3{
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width : 900px) {
    .clients{
        padding: 4rem 2%;
    }
    .clients .client-img-container div{
        width: 160%;
    }
    .clients .client-img-container{
        text-align: center;
        overflow-x: scroll;
    }
    .clients .client-img-container div img{
        width: 20%;
    }

}

/*Projects*/
.project{
    background-color: var(--Charcoal);
}
.project .textArea h3{
    font-weight: 600;
}
.project .textArea, .textArea{
    color: white !important;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    row-gap: 10px;
}
.projects-container a{
    display: block;
    flex-basis: 40%;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    min-height: 214px;
}
.projects-container a:nth-child(1),.projects-container a:nth-child(3){
    margin-right: 5px;
}
.projects-container a iframe{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}


@media screen and (max-width : 900px) {
    .projects-container a{
        flex-basis: unset;
    } 
    .projects-container a:nth-child(1),.projects-container a:nth-child(3){
        margin-right:unset;
    }  
}
/*CONTACT US*/
.contact-us-form h5{
    text-align: center;
    color: var(--Charcoal);
    font-weight: 600;
    font-size: 40px;
}
.contact-us-form .contanct-us-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#map-container-google-1 iframe{
    height: 100%;
}
.contact-us-form div{
    flex-basis: 50%;
}
.contact-us-form .contact-details div{
    flex-basis: 50%;
    margin: 20px 0px;
}
.contact-us-form .contact-details div i{
    font-size: 24px;
    color: var(--Crimson);
}
.contact-us-form .contact-details div p:first-of-type{
    font-weight: bold;
}
.contact-us-form .contact-details div a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.contact-us-form .form form{
    display: flex;
    flex-direction: column;
}
.contact-us-form .form form *{
    margin: 10px 0px;
}
.contact-us-form .form form input[type="text"],.contact-us-form .form form input[type="email"],.contact-us-form .form form textarea{
    background-color: var(--InputBg);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
}
.contact-us-form .form form input[type="submit"]{
    margin-top: 20px;
}

@media screen and (max-width : 900px) {
  
    .contact-us-form div{
        flex-basis: 100%;
    }
    #map-container-google-1 iframe{
        height: 100%;
        width: 100%;
    }
}
/*TESTIMONIAL*/
.testimonial{
    background-color: var(--Charcoal);
}
.testimonial .textArea h3{
    text-align: center;
    margin: 20px auto;
    font-weight: 600;
}
.carousel-inner{
    width: 85% !important;
    margin: 0px auto !important;
}


#container-fluid{
    color: white;
    margin-top: 0 !important;
}
.carousel-control-next, .carousel-control-prev{
    width: fit-content !important;
}
.carousel-indicators{
    margin-bottom: -30 !important;
}
@media screen and (max-width : 900px) {
    
    .three-review-container .review-box:first-child{
        display: none;
    }
    .three-review-container .review-box:nth-child(3){
        display: none;
    }
    .three-review-container .review-box{
        flex-basis: unset;
    }
    
}

/*FOOTER*/
.footer{
    background-color: black;
    color: white;
    padding: 2rem 8%;
}
.footer .first-container{
    display: flex;
    justify-content: space-between;
}
.footer .first-container .join-fam{
    flex-basis: 50%;
}
.footer .first-container .footer-logo{
    width: 80%;
}
.footer .first-container .social-links a{
    text-decoration: none;
}
.footer .first-container .social-links{
    margin: 20px 0px 20px auto;
    display: flex;
    width: fit-content;
}
.footer .first-container .social-links i{
    font-size: 32px;
    color: grey;
    transition: 0.3s;
    margin-right: 10px;
}
.footer .first-container .social-links i:hover{
    color: var(--Crimson);
}
#footer-hr{
    width: 100%;
    height: 5px;
    background-color: red;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    border-top: 2px solid red;
    padding: 10px 8%;
    display: flex;
    justify-content: space-between;
}
.footer .second-container{
    margin: 2rem 0px;
    justify-content: space-between;
    flex-basis: 45%;
}
.footer .second-container ul{
    line-height: 30px;
    list-style: none;
    padding-left: unset;
}
.footer .second-container ul li{
    margin: 10px 0px;
}
.footer .second-container ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 100;
    position: relative;
}
.footer .second-container ul li a::after{
    position: absolute;
    top: 0px;
    right: -20px;
    transition: 0.3s;
    content: ">";
    color: red;
    font-size: 16px;
}
.footer .second-container ul li a:hover::after{
    right: -30px;
}

.Dynamic-Biz{
    text-decoration: none;
}
.footer-logo img{
    width: 100%;
    margin-left: -10%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width : 900px) {
    .footer{
        padding: 2rem 4%;
    }
    .footer .first-container, .second-container,.third-container{
        flex-direction: column;
    }
    .footer .first-container .social-links{
        margin: 20px 0px;
    }
    .footer .first-container .join-fam{
        width: 100%;
    }
    .second-container ul{
        margin-bottom: unset;
        flex-basis: unset;
    }
    .first-container{
        row-gap: 15px;
    }
    .footer-logo{
        width: 60%;
    }
    .third-container .box{
        flex-basis: unset;
    }
    footer{
        text-align: center;
        flex-direction: column;
    }
    .footer-links{
        flex-direction: column;
    }

}

/*BOTH SERVICES AND PROJECT PAGES*/
.shader{
    --tw-gradient-from-position: ;
    --tw-gradient-from: #EDEDED var(--tw-gradient-from-position);
    --tw-gradient-to: transparent var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    position: absolute;
    top:50%;
    left: 0px;
    width: 100%;
    height: 50%;
   /* background-color: black;*/
   background-image: linear-gradient(to top,var(--tw-gradient-stops));
   /*background-color: linear-gradient(to top,var(--tw-gradient-stops)) ;*/
}